$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: gray;
$text-color:       #333;
$background-color: #fdfdfd;
$uiuc-orange:      #FF5F05;
$uiuc-blue:        #13294B;
$brand-color:      lighten($uiuc-orange, 2%);
$projectbox-text:  #1e2126;
$fac1:             30%;
$fac2:             12%;

// Color scheme for light
$body-bg: #fdfdfd;
$projectbox: lighten($uiuc-orange, $fac1);
$text-color: darken($uiuc-blue, $fac2);

// Color scheme for dark modes
$body-bg-dark: darken($uiuc-blue, $fac2);;
$projectbox-dark: lighten($uiuc-orange, $fac1);
$text-color-dark: #bababa;
